* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-in-form {
  width: 100%;
  margin-top: 1em;
}

.otp-input {
  border-style: solid;
  margin: 1em;
  outline: none;
  border-width: 0 0 2px 0;
  padding: 0;
  font-size: 2em;
}

.otp-box-container {
  justify-content: center;
}

.stationListItem :hover {
  color: rgba(255, 10, 10, 0.9);
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.stationListItem .listItemImg {
  margin: 10px;
}

Button {
  background-color: red !important;
  color: white;
}

Button:hover {
  background-color: red !important;
  color: white;
}

Button:disabled {
  background-color: rgba(255, 0, 0, 0.74) !important;
  color: rgba(0, 0, 0, 0.466) !important;
  font-weight: bold !important;
}
Button:enabled {
  background-color: red !important;
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
}
