.find-location {
    border: 2px solid red;
    height: 80%;
    width: 400px;
    margin: auto;
    height: 500px;
    display: flex;
}

.enter-location TextField {
    width: 80%
}

.MuiFormControl-root, MuiTextField-root {
    width: 100%
}

#back-arrow {
    font-size: 2em;
    -webkit-text-stroke: 1px white;
    font-weight: lighter;
    color: red;
}

#location-back-button {
    margin: 0;
    height: 4em;
    border: 0;
    padding: 0;
    padding-right: 0;
    background-color: white;
}

.enter-location {
    margin-top: 0.5em;
    /* margin-left: 0; */
    width: 80%;
    font-size: 0.3em;
    padding-left: 0;
    /* margin-left: 0; */
}
.location-item {
    border-bottom: 2px solid rgba(240, 240, 240, 0.068);
    padding-top: 1em;
    /* margin-bottom: 1em; */
    padding-bottom: 1em;
    padding-left: 0;
    font-size: 0.9em;
    cursor: pointer;
    /* left: 0; */
}

#main-text {
    font-weight: bold;
    padding-left: 0;
}

#secondary-text {
    font-weight: bold;
    padding-left: 0;
    /* font-weight: 200; */
    color: rgba(0, 0, 0, 0.438);
    /* font-size: 0.6em; */
}


