.find-location {
    border: 2px solid red;
    height: 80%;
    width: 400px;
    margin: auto;
    height: 500px;
    display: flex;
}

.find-location TextField {
    width: 80%
}

.MuiFormControl-root, MuiTextField-root {
    width: 80%
}

#back-arrow {
    font-size: 2em;

    font-weight: lighter;
    color: red;
}

#location-back-button {
    margin: 0;
    /* margin-top: 10%; */
    height: 4em;
    border: 0;
    padding: 0;
    margin-top: 1%;
    background-color: white;
}

