.otp-input-box {
  width: 100%;
  margin-top: 1em;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}

.input-style {
  margin-right: 0.1em;
}

.focus-style {
  border: 2px solid red;
  border-width: 0 0 2px 0;
}

.addVehicleInfo {
  width: 500px;
}

.file-upload-form {
  border: 2px solid red;
  width: 500px;
  font-size: 0.3em;
  margin-right: auto;
}

.semi-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-top: 3em;
}
