.otp-input-box {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.input-style {
  margin-right: 0.1em;
}

.focus-style {
  border: 2px solid red;
  border-width: 0 0 2px 0;
}

.addVehicleInfo {
  width: 500px;
}

.semi-container {
  /* margin-top: 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-top: 3em;
}

.file-container {
  display: flex;
  flex-direction: row;
}

#circular-progression {
  margin-top: 50%;
  margin-left: 35%;
}

#waiting-text {
  margin: 2em auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  /* padding: 1em; */
  line-height: 1em;
}